$primary: #409eff;
$success: #409eff;
$warning: #e6a23c;
$danger: #e64340;
$info: #909399;

$--color-primary: $primary;
$--color-success: $success;
$--color-warning: $warning;
$--color-danger: $danger;
$--color-info: $info;

@mixin flex-row($align-items: stretch, $justify-content: flex-start) {
	display: flex;
	flex-direction: row;
	align-items: $align-items;
	justify-content: $justify-content;
}

// 竖行排版，一行显示一个
@mixin flex-column($align-items: stretch, $justify-content: flex-start) {
	display: flex;
	flex-direction: column;
	align-items: $align-items;
	justify-content: $justify-content;
}

// 自动换行
@mixin flex-wrap(
	$align-items: stretch,
	$justify-content: flex-start,
	$flex-direction: row
) {
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: $align-items;
	justify-content: $justify-content;
}

// 文字超出显示...
@mixin ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin element-icons($content, $fontSize: 12px, $color: inherit) {
	color: $color;
	font-size: $fontSize;
	font-family: element-icons !important;

	&:after {
		color: inherit;
		content: $content;
	}
}
