.xia-editor {
	@include flex-row();
	width: 100%;
	min-width: 1000px;
	height: 100%;
}

.cps-button {
	@include flex-column(center, center);
	width: 80px;
	height: 60px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #eee;

	&-icon {
		@include flex-row(center, center);
		width: 30px;
		height: 30px;
		color: $primary;
		font-size: 28px;
	}

	&-text {
		color: #000;
		font-size: 14px;
	}
}